// Trace menu.

@import 'math';

// vars
$fg:#ff0000;
$pi:3.14;

// config
$menu-items:3;
$open-distance:120px;
$opening-angle:$pi - 1.2;


%ball {
  $size: 65px;
  border-radius:100%;
  width:$size;
  height:$size;
  position:absolute;
  color:white;
  text-align:center;
  line-height:$size;
  transform:translate3d(0,0,0);
  transition:all ease-out 200ms;
}

.menu-open {
  display:none;
}

.menu-item {
  @extend %ball;
  top: 8px;
}

.menu {
  box-sizing:border-box;
  font-size:20px;
  text-align:left;
  //background-color: purple; // Debug mouseoff area.
}

.menu.nav-open {
  $margin: 100px;
  width:280px;
  height:210px;
  margin-left: -$margin;
  padding-left: $margin;
}

.menu-item{
  overflow: hidden;
  &:hover{
    background:white;
    color:$fg;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:10ms+(60ms*($i));
    }
  }

  i {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:all ease-out 200ms;

    &.manual {
      background-image: url("../images/icon-manual.svg");
    }
    &.simple {
      background-image: url("../images/icon-autotrace-simple.svg");
    }
    &.complex {
      background-image: url("../images/icon-autotrace-complex.svg");
    }
  }
}

.menu-open-button{
  @extend %ball;
  width: 80px;
  height: 80px;
  background-color: transparent;
  background-position: -1px;
  background-image: url("../images/icon-import.png");
  background-size: 160px;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.8,0.8) translate3d(0,0,0);
}

.menu-open:checked~.menu-item{
  width: 80px;
  height: 80px;
  background:$fg;
  transition-timing-function:cubic-bezier(0.935, 0.000, 0.340, 1.330);
  @for $i from 1 through $menu-items{
    $angle:(($pi - $opening-angle)/2)+(($opening-angle/($menu-items - 1))*($i - 1));

    &:nth-child(#{$i+2}){
      transition-duration:80ms+(80ms*$i);
      transform:translate3d(cos($angle)*$open-distance,sin($angle)*$open-distance,0);
    }
  }

  &:hover {
    margin-top: -20px;
    margin-left: -20px;
    width: 120px;
    height: 120px;
    background:white;

    i {
      background-size: 87%;
    }
  }
}
