// General =====================================================================
body {
  overflow: hidden;
  font-family: sans-serif;
}

span#drawnote {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
}

img {
  -webkit-user-drag: none; // Don't drag our poor little elements!
}

body * {
  -webkit-user-select: none; // No selections! Period.
}

// Editor ======================================================================
#editor-wrapper {
  img {
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    // An easy cheat to let CSS manage all centering, and still let the griddle
    // be off-center vertically by an absolute pixel amount. Any work you can
    // have the browser do for you is less code to maintain, and likely faster.
    margin-top: 36px;
  }

  #editor {
    z-index: 1;
    position: absolute;

    &.wait {
      cursor: wait !important;
    }
  }
}

// Toolbar =====================================================================
#toolback {
  background-color: #3A3A3A;
  height: 93px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 2px 6px 21px -4px rgba(0,0,0,0.4);

  #logo {
    height: 32px;
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translate(50%, 0);
    transition-duration: 0.5s;
  }

  .ver { // Version text
    font-size: 0.8em;
    color: red;
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translate(410px, 0);
    transition-duration: 0.5s;
  }
}

#tools {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translate(-81%, 0);
  z-index: 5; // Just in case anything off of tools needs to be above canvas.

  // Normally this would auto-size fine, but there are wrapping issues that
  // need to be addressed before we can handle more tools.
  width: 400px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
  }

  .tool {
    cursor: pointer;
    float: left;
    padding: 0.5em;

    &.active div {
      background-position-x: 100%;
    }
  }

  // The individual tool button
  div {
    background-repeat: no-repeat;
    background-position: 0 0;
    // Set the background size forced to be twice as wide as the element
    // that way our two element wide sprite will always fit.
    background-size: 200%;
    width: 64px;
    height: 64px;
    overflow: hidden;
  }

  // For color change tools, change the background-position
  &.color-1 .tool.color-change div {
    // We're splitting the image into thirds (four pieces, not including the first)
    background-position-y: 33.333%;
  }

  &.color-2 .tool.color-change div {
    // This much precision is required to avoid sub-pixel rendering jumps.
    background-position-y: 66.666%;
  }

  &.color-3 .tool.color-change div {
    background-position-y: 100%;
  }

  #import {
    padding: 0;
    width: 85px;
    height: 74px;
    margin-left: 10px;
    div {
      height: 74px;
      margin-top: -3px;
      width: 85px; // This one likes to be a bit bigger
    }
  }
}

// Color Picker ================================================================
#color {
  // Separation border and LOTS of distance from the other tools

  float: left;
  width: 65px;
  height: 65px;
  overflow: visible;
  margin-top: 10px;
  z-index: 6; // Needs to be above other tools

  &:hover #picker {
    transform: scale(1);
  }

  #picker {
    width: 56px;
    height: 56px;
    margin-top: 1px; // Yes, it matters ;)
    margin-left: 5px;

    a {
      border: 1px solid black;
      box-sizing: border-box;
      content: ' ';
      display: block;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      float: left;

      &.active {
        display: block;
        border: 5px solid red;
      }
    }
  }
}

// Settings window (is an overlay) =============================================
#settings {
  aside {
    font-size: 0.8em;
    margin-left: 1em;
  }

  .settings-content {
    overflow-y: auto;
    height: 100%;
    padding-top: 3.5em;
    box-sizing: border-box;
  }

  fieldset {
    legend {
      font-weight: bold;
      font-size: 1.2em;
    }

    &> div {
      margin-bottom: 1em;

      label {
        font-weight: bold;
      }
    }
  }

  .overlay-title button {
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.3em 0.5em;
  }

  #reset {
    background-color: transparent;
    border: none;
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }
}

// Export wait message =========================================================
#exporting {
  display: none;
  font-style: italic;
  position: absolute;
  background: linear-gradient(to bottom, rgba(224,225,226,0) 0%,rgba(224,225,226,1) 15%,rgba(224,225,226,1) 50%,rgba(224,225,226,1) 85%,rgba(224,225,226,0.04) 99%,rgba(224,225,226,0) 100%);
  font-size: 3em;
  top: 50%;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  margin-top: -1em;
  cursor: wait;
}

// General usage overlay "window" ==============================================
#non-overlay-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(224,225,226,1) 100%);
}

#overlay {
  display: none;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.overlay-window {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  background-color: #eee;
  border-radius: 1em;
  box-shadow: 6px 9px 28px 1px rgba(0,0,0,0.75);

  &> .overlay-title {
    border-radius: 1em;
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 80%,rgba(238,238,238,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1.5em;
    box-sizing: border-box;
  }
}


// Below certain widths, adjust layout ==============================================
@media (max-width: 975px) {
  #toolback {
    #logo {
      height: 23px;
      top: 30px;
    }

    .ver {
      top: 41px;
      transform: translate(296px, 0);
    }
  }
}

@media (max-width: 755px) {
  #toolback {
    #logo {
      height: 20px;
      top: 33px;
    }

    .ver {
      transform: translate(258px, 0);
    }
  }
}
