body {
  overflow: hidden;
  font-family: sans-serif; }

#logo {
  height: 32px;
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translate(50%, 0); }

span#drawnote {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px; }

img {
  -webkit-user-drag: none; }

body * {
  -webkit-user-select: none; }

#editor-wrapper img {
  display: block;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 36px; }
#editor-wrapper #editor {
  z-index: 1;
  position: absolute; }
  #editor-wrapper #editor.wait {
    cursor: wait !important; }

#toolback {
  background-color: #3A3A3A;
  height: 93px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 2px 6px 21px -4px rgba(0, 0, 0, 0.4); }

#tools {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translate(-81%, 0);
  z-index: 5;
  width: 400px; }
  #tools ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left; }
  #tools .tool {
    cursor: pointer;
    float: left;
    padding: 0.5em; }
    #tools .tool.active div {
      background-position-x: 100%; }
  #tools div {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 200%;
    width: 64px;
    height: 64px;
    overflow: hidden; }
  #tools.color-1 .tool.color-change div {
    background-position-y: 33.333%; }
  #tools.color-2 .tool.color-change div {
    background-position-y: 66.666%; }
  #tools.color-3 .tool.color-change div {
    background-position-y: 100%; }
  #tools #import {
    padding: 0;
    width: 85px;
    height: 74px;
    margin-left: 10px; }
    #tools #import div {
      height: 74px;
      margin-top: -3px;
      width: 85px; }

#color {
  float: left;
  width: 65px;
  height: 65px;
  overflow: visible;
  margin-top: 10px;
  z-index: 6; }
  #color:hover #picker {
    transform: scale(1); }
  #color #picker {
    width: 56px;
    height: 56px;
    margin-top: 1px;
    margin-left: 5px; }
    #color #picker a {
      border: 1px solid black;
      box-sizing: border-box;
      content: ' ';
      display: block;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      float: left; }
      #color #picker a.active {
        display: block;
        border: 5px solid red; }

#settings aside {
  font-size: 0.8em;
  margin-left: 1em; }
#settings .settings-content {
  overflow-y: auto;
  height: 100%;
  padding-top: 3.5em;
  box-sizing: border-box; }
#settings fieldset legend {
  font-weight: bold;
  font-size: 1.2em; }
#settings fieldset > div {
  margin-bottom: 1em; }
  #settings fieldset > div label {
    font-weight: bold; }
#settings .overlay-title button {
  float: right;
  margin-top: 0.8em;
  margin-right: 1em;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.3em 0.5em; }
#settings #reset {
  background-color: transparent;
  border: none;
  color: red;
  text-decoration: underline;
  cursor: pointer; }

#exporting {
  display: none;
  font-style: italic;
  position: absolute;
  background: linear-gradient(to bottom, rgba(224, 225, 226, 0) 0%, #e0e1e2 15%, #e0e1e2 50%, #e0e1e2 85%, rgba(224, 225, 226, 0.04) 99%, rgba(224, 225, 226, 0) 100%);
  font-size: 3em;
  top: 50%;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  margin-top: -1em; }

#non-overlay-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, white 0%, #e0e1e2 100%); }

#overlay {
  display: none;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

div.overlay-window {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  background-color: #eee;
  border-radius: 1em;
  box-shadow: 6px 9px 28px 1px rgba(0, 0, 0, 0.75); }
  div.overlay-window > .overlay-title {
    border-radius: 1em;
    background: linear-gradient(to bottom, #eeeeee 0%, #eeeeee 80%, rgba(238, 238, 238, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1.5em;
    box-sizing: border-box; }

/*# sourceMappingURL=index.css.map */
