// General =====================================================================
body {
  overflow: hidden;
  font-family: sans-serif;
}

#logo {
  height: 32px;
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translate(50%, 0);
}

span#drawnote {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
}

img {
  -webkit-user-drag: none; // Don't drag our poor little elements!
}

body * {
  -webkit-user-select: none; // No selections! Period.
}

// Editor ======================================================================
#editor-wrapper {
  img {
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    // An easy cheat to let CSS manage all centering, and still let the griddle
    // be off-center vertically by an absolute pixel amount. Any work you can
    // have the browser do for you is less code to maintain, and likely faster.
    margin-top: 36px;
  }

  #editor {
    z-index: 1;
    position: absolute;
  }
}

// Toolbar =====================================================================
#toolback {
  background-color: #3A3A3A;
  height: 93px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 2px 6px 21px -4px rgba(0,0,0,0.4);
}

#tools {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translate(-81%, 0);
  z-index: 5; // Just in case anything off of tools needs to be above canvas.

  // Normally this would auto-size fine, but there are wrapping issues that
  // need to be addressed before we can handle more tools.
  width: 400px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
  }

  .tool {
    cursor: pointer;
    float: left;
    padding: 0.5em;

    &.active div {
      background-position-x: 100%;
    }
  }

  // The individual tool button
  div {
    background-repeat: no-repeat;
    background-position: 0 0;
    // Set the background size forced to be twice as wide as the element
    // that way our two element wide sprite will always fit.
    background-size: 200%;
    width: 64px;
    height: 64px;
    overflow: hidden;
  }

  // For color change tools, change the background-position
  &.color-1 .tool.color-change div {
    // We're splitting the image into thirds (four pieces, not including the first)
    background-position-y: 33.333%;
  }

  &.color-2 .tool.color-change div {
    // This much precision is required to avoid sub-pixel rendering jumps.
    background-position-y: 66.666%;
  }

  &.color-3 .tool.color-change div {
    background-position-y: 100%;
  }

  #import {
    padding: 0;
    width: 85px;
    height: 74px;
    margin-left: 10px;
    div {
      height: 74px;
      margin-top: -3px;
      width: 85px; // This one likes to be a bit bigger
    }
  }
}

// Color Picker ================================================================
#color {
  // Separation border and LOTS of distance from the other tools

  float: left;
  width: 65px;
  height: 65px;
  overflow: visible;
  margin-top: 10px;
  z-index: 6; // Needs to be above other tools

  &:hover #picker {
    transform: scale(1);
  }

  #picker {
    width: 56px;
    height: 56px;
    margin-top: 1px; // Yes, it matters ;)
    margin-left: 5px;

    a {
      border: 1px solid black;
      box-sizing: border-box;
      content: ' ';
      display: block;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      float: left;

      &.active {
        display: block;
        border: 5px solid red;
      }
    }
  }
}

// General usage overlay "window" ==============================================
#non-overlay-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(224,225,226,1) 100%);
}

#overlay {
  display: none;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.overlay-window {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 300px;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: #eee;
  border-radius: 1em;
  box-shadow: 6px 9px 28px 1px rgba(0,0,0,0.75);

  textarea {
    width: 100%;
    height: 10em;
  }
}
