// General =====================================================================
body {
  overflow: hidden;
  font-family: sans-serif;
}

#logo {
  height: 70px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}


// Editor ======================================================================
#editor-wrapper {
  img {
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  #editor {
    z-index: 1;
    position: absolute;
  }
}

// Toolbar =====================================================================
#tools {
  position: absolute;
  left: 0;
  width: 75px;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 6px;
  z-index: 5; // Just in case anything off of tools needs to be above canvas.

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .tool {
    border: 1px solid #fff; // Avoids border size change on hover
    cursor: pointer;
    margin: 4px 0;
    float: left;
    padding: 0.5em;

    &:hover, &.active {
      border: 1px solid #888;
      border-radius: 8px;

      img { opacity: 1; } // You can fully see the icon on hover or select
    }

    &.active {
      background-color: #00A000;
      border-color: red;
    }

    // Hack to fix height offset caused by crazy colorpicker overlay
    &#import {
      margin-top: -5em;
      z-index: 5;
    }
  }

  img {
    width: 50px;
    opacity: 0.5;
  }
}

// Color Picker ================================================================
#color {
  position: relative;
  border: 1px solid #888;
  border-radius: 8px;
  width: 65px;
  height: 65px;
  overflow: visible;
  margin-top: 5px;
  z-index: 6; // Needs to be above other tools

  &:hover #picker {
    transform: scale(1);
  }

  #picker {
    width: 160px;
    height: 160px;
    transform-origin: top left;
    transform: scale(0.2);
    transition-duration: 0.3s;
    transition-property: transform;
    a {

      &.color1 { transform: rotate(90deg); }
      &.color2 { transform: rotate(-90deg); }
      &.color3 { transform: rotate(180deg); }

      &:hover {

      }

      &:hover:after, &.active {
        content: ' ';

        display: block;
        width: 70px;
        height: 70px;
        border: 5px solid blue;
      }

      &.active:hover:after {
        border: none; // Don't show a hover on active elements
      }

      content: ' ';
      display: block;
      -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%, 0 60%);
      width: 80px;
      height: 80px;
      float: left;
    }
  }
}

// General usage overlay "window" ==============================================
#non-overlay-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   // Required to blur into (as blur doesn't work against transparency)
  background-color: white;
}

#overlay {
  display: none;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.overlay-window {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 300px;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: #eee;
  border-radius: 1em;
  box-shadow: 6px 9px 28px 1px rgba(0,0,0,0.75);

  textarea {
    width: 100%;
    height: 10em;
  }
}
