// General =====================================================================
body {
  overflow: hidden;
  font-family: sans-serif;
}

span#drawnote {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
}

img {
  -webkit-user-drag: none; // Don't drag our poor little elements!
}

body * {
  -webkit-user-select: none; // No selections! Period.
}

// Editor ======================================================================
#editor-wrapper {
  img {
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    // An easy cheat to let CSS manage all centering, and still let the griddle
    // be off-center vertically by an absolute pixel amount. Any work you can
    // have the browser do for you is less code to maintain, and likely faster.
    margin-top: 36px;
  }

  #editor {
    z-index: 1;
    position: absolute;

    &.wait {
      cursor: wait !important;
    }
  }
}

// Autotrace ===================================================================

// Fill canvas to fit fully inside the webview.
canvas#autotrace-preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#autotrace {
  width: 90%;
  height: 70%;

  .overlay-title {
    h2 {
      margin: 0.5em 0 0;
    }

    button[name=cancel] {
      cursor: pointer;
      position: absolute;
      right: 0.5em;
      top: 0.5em;
      border: none;
      font-size: 1.3em;
      color: #E21A1A;
      font-weight: bold;
    }

    .presets {
      position: absolute;
      right: 2em;
      top: 8px;

      button {
        margin-right: 0.7em;
        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        height: 35px;
        border-radius: 13px;
        box-shadow: #333 2px 2px 4px;
      }

      button[name=simple] {
        background-image: url('../images/icon-autotrace-simple.png');
      }
      button[name=complex] {
        background-image: url('../images/icon-autotrace-complex.png');
      }
    }
  }

  .overlay-content {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-top: 2em;

    .loader {
      position: absolute;
      bottom: 1.5em;
      transition: opacity .3s;
      opacity: 0;

      progress {
        position: absolute;
        top: 0;
        opacity: 0.8;
        height: 100%;
        width: 100%;
        mix-blend-mode: hard-light;
        -webkit-appearance: none;
      }
    }

    #autotrace-webview {
      flex-grow: 1;
      border: 2px dashed #6D6060;
      margin-right: 1em;
      border-radius: 1em;
      background-color: #444444;
      opacity: 0;
      transition: opacity 100ms ease-in;
    }

    div.sidebar {
      height: 100%;
      width: 230px;

      fieldset {
        overflow: hidden;
        legend {
          font-weight: bolder;
        }
      }

      fieldset.settings {
        position: relative;
        padding: 0;
        margin-bottom: 1em;

        .wrapper {
          overflow-y: auto;
          padding: 0 0.5em;
          height: 92%;

          > div {
            margin-bottom: 1em;
          }
        }

        aside {
          font-size: 0.8em;
          font-style: italic;
        }

        b {
          float: right;
          font-style: italic;
        }

        .rangeslider {
          margin: 0.5em 0;

          &, .rangeslider__fill {
            height: 12px;
          }
        }
        .rangeslider__handle {
          transform: translate(-4px, -4px) scale(0.6);
        }

        label {
          font-weight: bold;
        }

        .posterize-selector {
          input {
            display: none;

            &:disabled + label {
              &:hover {
                -webkit-filter: none;
              }
              opacity: .5;
              background-color: black;
            }

            &:active + label { opacity: .9; }
            &:checked + label {
              -webkit-filter: none;
            }
          }

          label.posterize-select {
            cursor:pointer;
            background-size:contain;
            background-repeat:no-repeat;
            display:inline-block;
            width:42px;
            height:42px;
            transition: all 100ms ease-in;
            -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);

            &:hover {
              -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
            }
            &[for=posterize-1] {background-image: url('../images/icon-autotrace-color-2.png')};
            &[for=posterize-2] {background-image: url('../images/icon-autotrace-color-3.png')};
            &[for=posterize-3] {background-image: url('../images/icon-autotrace-color-4.png')};
            &[for=posterize-4] {background-image: url('../images/icon-autotrace-color-5.png')};
          }

        }
      }

      // Preview
      fieldset.preview {
        height: 150px;

        button[name=import] {
          position: relative;
          top: -9px;
          margin-left: 28%;
        }

        .options {
          button {
            display: inline-block;
            width: 23%;
          }
        }

        .trace-preview {
          position: relative;
          width: 196px;
          height: 104px;
          box-sizing: border-box;
          padding-top: 14px;
          padding-bottom: 10px;
          padding-left: 14px;
          padding-right: 11px;
          background-image: url('../images/griddle.svg');
          background-size: contain;

          img.trace {
            position: absolute;
          }
        }
      }
    }
  }
}

// Toolbar =====================================================================
#toolback {
  background-color: #3A3A3A;
  height: 93px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 2px 6px 21px -4px rgba(0,0,0,0.4);

  #logo {
    height: 32px;
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translate(50%, 0);
    transition-duration: 0.5s;
  }

  .ver { // Version text
    font-size: 0.8em;
    color: red;
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translate(410px, 0);
    transition-duration: 0.5s;
  }
}

#tools {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translate(-81%, 0);
  z-index: 5; // Just in case anything off of tools needs to be above canvas.

  // Normally this would auto-size fine, but there are wrapping issues that
  // need to be addressed before we can handle more tools.
  width: 400px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    float: left;
  }

  .tool {
    cursor: pointer;
    float: left;
    padding: 0.5em;
    position: relative;

    &.active div {
      background-position-x: 100%;
    }
  }

  // The individual tool button
  div {
    background-repeat: no-repeat;
    background-position: 0 0;
    // Set the background size forced to be twice as wide as the element
    // that way our two element wide sprite will always fit.
    background-size: 200%;
    width: 64px;
    height: 64px;
    overflow: hidden;
  }

  // For color change tools, change the background-position
  &.color-1 .tool.color-change div {
    // We're splitting the image into thirds (four pieces, not including the first)
    background-position-y: 33.333%;
  }

  &.color-2 .tool.color-change div {
    // This much precision is required to avoid sub-pixel rendering jumps.
    background-position-y: 66.666%;
  }

  &.color-3 .tool.color-change div {
    background-position-y: 100%;
  }

  #import {
    overflow: visible;
    padding: 0;
    width: 85px;
    height: 74px;
    margin-left: 10px;
    z-index: 1;

    div {
      height: 74px;
      margin-top: -3px;
      width: 85px; // This one likes to be a bit bigger
    }
  }
}

// Fancy trace option dropdown =================================================
@import 'trace-menu';

// Fancy Loader animations =====================================================
@import 'loaders';

// Color Picker ================================================================
#color {
  // Separation border and LOTS of distance from the other tools

  float: left;
  width: 65px;
  height: 65px;
  overflow: visible;
  margin-top: 10px;
  z-index: 6; // Needs to be above other tools

  &:hover #picker {
    transform: scale(1);
  }

  #picker {
    width: 56px;
    height: 56px;
    margin-top: 1px; // Yes, it matters ;)
    margin-left: 5px;

    a {
      border: 1px solid black;
      box-sizing: border-box;
      content: ' ';
      display: block;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      float: left;

      &.active {
        display: block;
        border: 5px solid red;
      }
    }
  }
}

// Settings window (is an overlay) =============================================
#settings {
  aside {
    font-size: 0.9em;
    margin-left: 1em;
  }

  fieldset {
    legend {
      font-weight: bold;
      font-size: 1.2em;
    }

    &> div {
      margin-bottom: 3em;
      &:hover .rangeslider {
        z-index: 1 !important;
      }

      label {
        font-weight: bold;
      }
    }
  }

  .rangeslider {
    margin: 1em 0;
    z-index: -1;

    &:hover {
      z-index: 1;
    }

    .rangeslider__fill {
      background-color: orange;
    }
  }

  b {
    padding-left: .5em;
  }

  .overlay-title button {
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.3em 0.5em;
  }

  #reset {
    background-color: transparent;
    border: none;
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }
}

// Fancy button ================================================================
button.fancy{
  cursor: pointer;
  display: inline-block;
  border:1px solid #439E2C;
  color: #fff;
  border-radius: 10px 10px 11px 9px;
  font-family: Verdana;
  width: auto;
  height: auto;
  font-size: 16px;
  padding: 3px 20px;
  box-shadow: 0px 3px 11px 0 #000;
  background-image: linear-gradient(to top, #1D612F, #36943F);
  background-color: #409C4F;

  &:hover, &:active{
    border:1px solid #5D7FBC;
    color: #fff;
    background-color: #97A8C7;
  }
}

// Fancy iOS8 Checkbox
input.fancy[type="checkbox"] {
  position: absolute;
  opacity: 0;

  &:disabled{
    &+ div {
      opacity: 0.8;
      background-image: linear-gradient(90deg, #add5ac 50%, transparent 50%);
    }

    &:checked + div {
      border: 2px solid #add5ac;
    }
  }

  &:checked + div {
    padding-left: 1em; width: 1em;
    background-position: 0 0;
    border: 2px solid #64bd63;
  }

  &+ div {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 2em;	height: 1em;
    border: 2px solid rgba(0,0,0,.3);
    border-radius: 999px;
    background: white;
    background-image: linear-gradient(90deg, #64bd63 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-origin: border-box;
    background-clip: border-box;
    overflow: hidden;
    transition-duration: .2s;
    transition-property: padding, width, background-position, text-indent;
    font-size: 112%; /* change this and see how they adjust! */

    &:before {
      content: ' ';
      float: left;
      width: 1.65em; height: 1.65em;
      margin: -.1em;
      border: 1px solid rgba(0,0,0,.35);
      border-radius: inherit;
      background: white;
      background-color: white;
      box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
                  0 0 .5em rgba(0,0,0,.3);
      color: white;
      text-shadow: 0 -1px 1px rgba(0,0,0,.3);
      text-indent: -2.5em;
    }
  }

  &:active + div:before {
    background-color: #eee;
  }

  &:focus + div {
    box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
                0 .45em 0 .1em rgba(0,0,0,.05) inset,
                0 0 .4em 1px rgba(255,0,0,.5);
  }

  &+ div:before, &+ div:after {
    font: bold 60%/1.9 sans-serif;
    text-transform: uppercase;
  }

  &+ div:after {
    content: ' ';
    float: left;
    text-indent: .5em;
    color: rgba(0,0,0,.45);
    text-shadow: none;
  }
}

// Export wait message =========================================================
#exporting {
  display: none;
  font-style: italic;
  position: absolute;
  background: linear-gradient(to bottom, rgba(224,225,226,0) 0%,rgba(224,225,226,1) 15%,rgba(224,225,226,1) 50%,rgba(224,225,226,1) 85%,rgba(224,225,226,0.04) 99%,rgba(224,225,226,0) 100%);
  font-size: 3em;
  top: 50%;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  margin-top: -1em;
  cursor: wait;
}

// General usage overlay "window" ==============================================
#non-overlay-wrapper {
  transition: -webkit-filter 0.75s;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(224,225,226,1) 100%);
}

#overlay {
  display: none;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.overlay-window {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  background-color: #eee;
  border-radius: 1em;
  box-shadow: 6px 9px 28px 1px rgba(0,0,0,0.75);

  &> .overlay-title {
    border-radius: 1em;
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 80%,rgba(238,238,238,0) 100%);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1.5em;
    box-sizing: border-box;
  }

  .overlay-content {
    position: fixed;
    overflow-y: auto;
    height: 90%;
    padding-top: 3.5em;
    box-sizing: border-box;
  }
}


// Below certain widths, adjust layout ==============================================
@media (max-width: 975px) {
  #toolback {
    #logo {
      height: 23px;
      top: 30px;
    }

    .ver {
      top: 41px;
      transform: translate(296px, 0);
    }
  }
}

@media (max-width: 755px) {
  #toolback {
    #logo {
      height: 20px;
      top: 33px;
    }

    .ver {
      transform: translate(258px, 0);
    }
  }
}
